In [1]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
sum([259.9734, 259.9734/1.021, 259.9734/1.021**2]) / 3

254.66290897019599

In [37]:
import numpy as np
import pandas as pd
import math

class Pension:
    
    def __init__(self, wage_history=None, delivery_year=None, military_year=None, rp_entitlement_year=None):
        self.wage_history = wage_history
        self.delivery_year = delivery_year
        self.military_year = military_year
        self.p = {
            1988: 2.4, 1989: 2.4, 1990: 2.4, 1991: 2.4, 1992: 2.4, 1993: 2.4, 1994: 2.4, 1995: 2.4, 1996: 2.4, 1997: 2.4, 1998: 2.4,
            1999: 1.8, 2000: 1.8, 2001: 1.8, 2002: 1.8, 2003: 1.8, 2004: 1.8, 2005: 1.8, 2006: 1.8, 2007: 1.8,
            2008: 1.5, 2009: 1.485, 2010: 1.470, 2011: 1.455, 2012: 1.440, 2013: 1.425, 2014: 1.410, 2015: 1.395, 2016: 1.380, 2017: 1.365, 2018: 1.350, 2019: 1.335, 2020: 1.320,
            2021: 1.305, 2022: 1.290, 2023: 1.275, 2024: 1.260, 2025: 1.245, 2026: 1.230, 2027: 1.215, 2028: 1.2
        }
        self.A = 254.6629 # 2020 기준으로 A(실질임금 상승률을 반영한 2018-2020 평균 가입자평균소득월액) 계산
        self.delivery_credit = 1
        self.military_credit = 0.5
        self.rp_enforcement_year = 2020
        self.rp_entitlement_year = rp_entitlement_year
    
    def national_pension(self):
        # 수급시점 기준으로 연금액을 산정한 다음 물가상승률을 기준으로 할인하여 2021년 기준으로 환산
    
        entitlement_year = self.wage_history.iloc[-1, 0] + 1
        print(f"entitlement_year: {entitlement_year}")
        print(f"A_base: {self.A}")
        
        A = self.A * 1.035 ** (entitlement_year - 2020)
        print(f"A: {A}")
        # 월소득 -> 기준소득월액
        self.wage_history['wage_with_upper_limit'] = self.wage_history['wage']\
                                                        .apply(lambda wage: min(wage, 504))
        
            
        # 2020년 기준으로 B 계산 후 수급시점 기준으로 환산
        self.wage_history['standard_wage'] = self.wage_history['wage_with_upper_limit']\
                                                .apply(lambda wage: math.floor(wage * 10) / 10 if not pd.isna(wage) else wage)

        B_base = self.wage_history['standard_wage'].mean()
        B = B_base * 1.02 ** (entitlement_year - 2020)
        print(f"B_2020: {B_base}")
        print(f"B: {B}")
        # C, Y 계산
        if self.delivery_year:
            if self.delivery_year > 2028:
                Y = 1.2
            else:
                Y = self.p[self.delivery_year]
            C = self.delivery_credit
        elif self.military_year:
            Y = self.p[self.military_year]
            C = self.military_credit
        else:
            Y = 0
            C = 0
        print(f"Y: {Y}\nC: {C}")
        
        # X 계산
        X = 1.2
        print(f"X: {X}")
        
        # n 계산: 실업기간에는 국민연금 미가입 상태로 가정
        P = self.wage_history['standard_wage'].count()
        n = max(0, P - 20)
        print(f"P: {P}\nn: {n}")
        

        # P_n 계산
        self.wage_history['P_n'] = self.wage_history\
                                    .apply(lambda row: self.p[row['year']] if row['year'] <= 2028 else 1.2, axis=1)
            
    
        # A+B 계산
        self.wage_history['A+B'] = self.wage_history\
                                    .apply(lambda row: A+B if row['year'] >= 1999 else A+0.75*B, axis=1)
        
        # A+B x P_n
        self.wage_history['(A+B)*P_n'] = self.wage_history\
                                    .apply(lambda row: row['A+B'] * row['P_n'] if not pd.isna(row['standard_wage']) else np.nan, axis=1)
        
        intermediate_sum = self.wage_history['(A+B)*P_n'].sum()
        total = (intermediate_sum + (Y * (A + A) * C) + (X * (A + 1/2 * A) * 0.5)) * (1 + 0.05*n) / P
        deflated_total = total / 1.02**(entitlement_year-2020)
        print(f"2020년 가치로 환산한 수급시점 {entitlement_year}의 노령연금액(annuity): {deflated_total}")
        r = 1 + 0.02 / 12
        monthly = (1-r) / (1 - r**12) * deflated_total
        print(f"2020년 가치로 환산한 수급시점 {entitlement_year}의 노령연금 월지급액(annuity): {monthly}")
        
        return B_base, pd.DataFrame.from_dict({'연금액': [monthly], '소득대체율': [monthly / B_base], '평균임금대비': [monthly / 318]})
    
    def dc(self):
        """
        dc 방식
        정부 4.17% 보조
        연금비율 5%
        실질수익률 4%
        보험요율 8.3%
        실질금리 2%
        """
        self.wage_history['annual_saving'] = self.wage_history\
                                                .apply(lambda row: 12 * row['wage'] * 0.0417 * 3 if row['year'] >= self.rp_enforcement_year else np.nan, axis=1)
        
        self.wage_history['annual_reserve'] = self.wage_history\
                                                .apply(lambda row: row['annual_saving'] * 1.04 ** (self.rp_entitlement_year - row['year']), axis=1)
        print(self.wage_history.head())
        
        rp_fund = self.wage_history['annual_reserve'].sum()
        print(f"퇴직연금 적립액: {rp_fund}")
        
        rp_annuity = 0.05 * rp_fund
        r = 1 + 0.02 / 12
        rp_monthly = (1-r) / (1 - r**12) * rp_annuity
        print(f"monthly retirement pension payment: {rp_monthly}")
        np_result = self.national_pension()
        B_base = np_result[0]
        np_monthly = np_result[1].iloc[0, 0]
        
        return pd.concat([np_result[1], pd.DataFrame.from_dict({'퇴직연금액': [rp_monthly], '합산연금액': [rp_monthly + np_monthly], '생애평균임금': [B_base], '합산소득대체율': [(rp_monthly+np_monthly) / B_base], '평균임금대비': [(rp_monthly+np_monthly) / 318]})], axis=1)

In [38]:
df_2000 = pd.read_csv('../data/new/wage_history_2000.csv')
df_2000.tail()

,Unnamed: 0,year,age,group_1,group_2,group_3,group_4,group_5,group_6
41,41,2060,60,NaN,NaN,NaN,191.899107,241.49699,193.389172
42,42,2061,61,NaN,NaN,NaN,188.067511,NaN,NaN
43,43,2062,62,NaN,NaN,NaN,184.129481,NaN,NaN
44,44,2063,63,NaN,NaN,NaN,180.297885,NaN,NaN
45,45,2064,64,NaN,NaN,NaN,176.466289,NaN,NaN

In [39]:
df_2000_group_1 = df_2000[['year', 'group_1']]
df_2000_group_1.columns = ['year', 'wage']
df_2000_group_2 = df_2000[['year', 'group_2']]
df_2000_group_2.columns = ['year', 'wage']
df_2000_group_3 = df_2000[['year', 'group_3']]
df_2000_group_3.columns = ['year', 'wage']
df_2000_group_4 = df_2000[['year', 'group_4']]
df_2000_group_4.columns = ['year', 'wage']
df_2000_group_5 = df_2000[['year', 'group_5']]
df_2000_group_5.columns = ['year', 'wage']
df_2000_group_6 = df_2000[['year', 'group_6']]
df_2000_group_6.columns = ['year', 'wage']

In [40]:
pension_2000_group_1 = Pension(df_2000_group_1, rp_entitlement_year=2055)
pension_2000_group_2 = Pension(df_2000_group_2, military_year=2021)
pension_2000_group_3 = Pension(df_2000_group_3)
pension_2000_group_4 = Pension(df_2000_group_4, delivery_year=2029)
pension_2000_group_5 = Pension(df_2000_group_5, military_year=2020)
pension_2000_group_6 = Pension(df_2000_group_6, delivery_year=2029)

In [41]:
pension_2000_group_1.national_pension()

entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 264.44848484848484
B: 644.6868508734481
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 1530.2248565088844
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 126.35403384144303

(264.44848484848484,
           연금액     소득대체율   평균임금대비
 0  126.354034  0.477802  0.39734)

In [42]:
pension_2000_group_1.dc()

   year        wage  wage_with_upper_limit  standard_wage    P_n          A+B  \
0  2019         NaN                    NaN            NaN  1.335  1842.203116
1  2020         NaN                    NaN            NaN  1.320  1842.203116
2  2021         NaN                    NaN            NaN  1.305  1842.203116
3  2022  182.570443             182.570443          182.5  1.290  1842.203116
4  2023  184.200432             184.200432          184.2  1.275  1842.203116

     (A+B)*P_n  annual_saving  annual_reserve
0          NaN            NaN             NaN
1          NaN            NaN             NaN
2          NaN            NaN             NaN
3  2376.442020     274.074748      999.929131
4  2348.808973     276.521688      970.054326
퇴직연금 적립액: 25142.20621295351
monthly retirement pension payment: 103.80236476905063
entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 264.44848484848484
B: 644.6868508734481
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 1530.2248565088844
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 126.35403384144303

,연금액,소득대체율,평균임금대비,퇴직연금액,합산연금액,생애평균임금,합산소득대체율,평균임금대비
0,126.354034,0.477802,0.39734,103.802365,230.156399,264.448485,0.870326,0.723762

In [36]:
182.570443 * 0.0417 * 3 * 12

274.07474903160005

In [26]:
274.074748 * 1.06 ** (2055 - 2022)

1874.8329482993372

In [357]:
pension_2000_group_2.national_pension()

entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 410.8633333333334
B: 1001.6249049707955
Y: 1.305
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 1679.931611123641
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 138.7156500172784

         연금액    소득대체율    평균임금대비
0  138.71565  0.33762  0.436213

In [358]:
pension_2000_group_3.national_pension()

entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 226.05806451612904
B: 551.0966032229281
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 1361.6166041075116
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 112.43167939840113

          연금액     소득대체율    평균임금대비
0  112.431679  0.497358  0.353559

In [359]:
pension_2000_group_4.national_pension()

entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 172.9838709677419
B: 421.70945728801496
Y: 1.2
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 1337.387457961375
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 110.43102548203309

          연금액     소득대체율    평균임금대비
0  110.431025  0.638389  0.347267

In [360]:
pension_2000_group_5.national_pension()

entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 235.6516129032258
B: 574.484275502174
Y: 1.32
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 1417.9495692499027
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 117.08321629751383

          연금액     소득대체율    평균임금대비
0  117.083216  0.496849  0.368186

In [361]:
pension_2000_group_6.national_pension()

entitlement_year: 2065
A_base: 254.6629
A: 1197.516265523042
B_2020: 164.74285714285716
B: 401.6190670790732
Y: 1.2
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2065의 노령연금액(annuity): 928.2234601831808
2020년 가치로 환산한 수급시점 2065의 노령연금 월지급액(annuity): 76.64545377205877

         연금액     소득대체율    평균임금대비
0  76.645454  0.465243  0.241023

In [362]:
df_1990 = pd.read_csv('../data/new/wage_history_1990.csv')
df_1990.head()

,Unnamed: 0,year,age,group_1,group_2,group_3,group_4,group_5,group_6
0,0,2009,19,NaN,NaN,NaN,128.784204,NaN,128.784204
1,1,2010,20,NaN,NaN,NaN,133.467266,NaN,133.467266
2,2,2011,21,NaN,NaN,NaN,138.043894,NaN,138.043894
3,3,2012,22,182.570443,NaN,NaN,142.726956,176.253422,142.726956
4,4,2013,23,184.200432,NaN,NaN,147.303585,182.639416,147.303585

In [363]:
df_1990_group_1 = df_1990[['year', 'group_1']]
df_1990_group_1.columns = ['year', 'wage']
df_1990_group_2 = df_1990[['year', 'group_2']]
df_1990_group_2.columns = ['year', 'wage']
df_1990_group_3 = df_1990[['year', 'group_3']]
df_1990_group_3.columns = ['year', 'wage']
df_1990_group_4 = df_1990[['year', 'group_4']]
df_1990_group_4.columns = ['year', 'wage']
df_1990_group_5 = df_1990[['year', 'group_5']]
df_1990_group_5.columns = ['year', 'wage']
df_1990_group_6 = df_1990[['year', 'group_6']]
df_1990_group_6.columns = ['year', 'wage']

In [364]:
pension_1990_group_1 = Pension(df_1990_group_1)
pension_1990_group_2 = Pension(df_1990_group_2, military_year=2011)
pension_1990_group_3 = Pension(df_1990_group_3)
pension_1990_group_4 = Pension(df_1990_group_4, delivery_year=2019)
pension_1990_group_5 = Pension(df_1990_group_5, military_year=2010)
pension_1990_group_6 = Pension(df_1990_group_6, delivery_year=2019)

In [365]:
pension_1990_group_1.national_pension()

entitlement_year: 2055
A_base: 254.6629
A: 848.9418103527513
B_2020: 264.44848484848484
B: 528.8677620659007
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2055의 노령연금액(annuity): 1453.4812221863335
2020년 가치로 환산한 수급시점 2055의 노령연금 월지급액(annuity): 120.01714307205

          연금액     소득대체율    평균임금대비
0  120.017143  0.453839  0.377412

In [366]:
pension_1990_group_2.national_pension()

entitlement_year: 2055
A_base: 254.6629
A: 848.9418103527513
B_2020: 410.8633333333334
B: 821.6812879054058
Y: 1.455
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2055의 노령연금액(annuity): 1602.4964588745636
2020년 가치로 환산한 수급시점 2055의 노령연금 월지급액(annuity): 132.32165909092566

          연금액     소득대체율    평균임금대비
0  132.321659  0.322058  0.416106

In [367]:
pension_1990_group_3.national_pension()

entitlement_year: 2055
A_base: 254.6629
A: 848.9418103527513
B_2020: 226.05806451612904
B: 452.091161520902
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2055의 노령연금액(annuity): 1280.3607340600456
2020년 가치로 환산한 수급시점 2055의 노령연금 월지급액(annuity): 105.72220339549723

          연금액     소득대체율   평균임금대비
0  105.722203  0.467677  0.33246

In [368]:
pension_1990_group_4.national_pension()

entitlement_year: 2055
A_base: 254.6629
A: 848.9418103527513
B_2020: 172.9838709677419
B: 345.9486363274974
Y: 1.335
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2055의 노령연금액(annuity): 1249.3688312503332
2020년 가치로 환산한 수급시점 2055의 노령연금 월지급액(annuity): 103.1631337791775

          연금액     소득대체율    평균임금대비
0  103.163134  0.596374  0.324412

In [369]:
pension_1990_group_5.national_pension()

entitlement_year: 2055
A_base: 254.6629
A: 848.9418103527513
B_2020: 235.6516129032258
B: 471.27719871321864
Y: 1.47
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2055의 노령연금액(annuity): 1338.0823120455104
2020년 가치로 환산한 수급시점 2055의 노령연금 월지급액(annuity): 110.48840111286817

          연금액     소득대체율    평균임금대비
0  110.488401  0.468863  0.347448

In [370]:
pension_1990_group_6.national_pension()

entitlement_year: 2055
A_base: 254.6629
A: 848.9418103527513
B_2020: 164.74285714285716
B: 329.4675188757636
Y: 1.335
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2055의 노령연금액(annuity): 879.6390971721248
2020년 가치로 환산한 수급시점 2055의 노령연금 월지급액(annuity): 72.6337360026394

         연금액     소득대체율    평균임금대비
0  72.633736  0.440892  0.228408

In [371]:
df_1980 = pd.read_csv('../data/new/wage_history_1980.csv')
df_1980.head()

,Unnamed: 0,year,age,group_1,group_2,group_3,group_4,group_5,group_6
0,0,1999,19,NaN,NaN,NaN,128.784204,NaN,128.784204
1,1,2000,20,NaN,NaN,NaN,133.467266,NaN,133.467266
2,2,2001,21,NaN,NaN,NaN,138.043894,NaN,138.043894
3,3,2002,22,182.570443,NaN,NaN,142.726956,176.253422,142.726956
4,4,2003,23,184.200432,NaN,NaN,147.303585,182.639416,147.303585

In [372]:
df_1980_group_1 = df_1980[['year', 'group_1']]
df_1980_group_1.columns = ['year', 'wage']
df_1980_group_2 = df_1980[['year', 'group_2']]
df_1980_group_2.columns = ['year', 'wage']
df_1980_group_3 = df_1980[['year', 'group_3']]
df_1980_group_3.columns = ['year', 'wage']
df_1980_group_4 = df_1980[['year', 'group_4']]
df_1980_group_4.columns = ['year', 'wage']
df_1980_group_5 = df_1980[['year', 'group_5']]
df_1980_group_5.columns = ['year', 'wage']
df_1980_group_6 = df_1980[['year', 'group_6']]
df_1980_group_6.columns = ['year', 'wage']

In [373]:
pension_1980_group_1 = Pension(df_1980_group_1)
pension_1980_group_2 = Pension(df_1980_group_2, military_year=2001)
pension_1980_group_3 = Pension(df_1980_group_3)
pension_1980_group_4 = Pension(df_1980_group_4, delivery_year=2009)
pension_1980_group_5 = Pension(df_1980_group_5, military_year=2000)
pension_1980_group_6 = Pension(df_1980_group_6, delivery_year=2009)

In [374]:
pension_1980_group_1.national_pension()

entitlement_year: 2045
A_base: 254.6629
A: 601.8308211038989
B_2020: 264.44848484848484
B: 433.8557694695397
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2045의 노령연금액(annuity): 1479.5057855408804
2020년 가치로 환산한 수급시점 2045의 노령연금 월지급액(annuity): 122.16604853834289

          연금액     소득대체율   평균임금대비
0  122.166049  0.461965  0.38417

In [375]:
pension_1980_group_2.national_pension()

entitlement_year: 2045
A_base: 254.6629
A: 601.8308211038989
B_2020: 410.8633333333334
B: 674.0648475724275
Y: 1.8
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2045의 노령연금액(annuity): 1618.5279594018934
2020년 가치로 환산한 수급시점 2045의 노령연금 월지급액(annuity): 133.6454153686669

          연금액     소득대체율    평균임금대비
0  133.645415  0.325279  0.420269

In [376]:
pension_1980_group_3.national_pension()

entitlement_year: 2045
A_base: 254.6629
A: 601.8308211038989
B_2020: 226.05806451612904
B: 370.8722157422561
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2045의 노령연금액(annuity): 1283.8153312340658
2020년 가치로 환산한 수급시점 2045의 노령연금 월지급액(annuity): 106.00745708640287

          연금액     소득대체율    평균임금대비
0  106.007457  0.468939  0.333357

In [377]:
pension_1980_group_4.national_pension()

entitlement_year: 2045
A_base: 254.6629
A: 601.8308211038989
B_2020: 172.9838709677419
B: 283.7983756553908
Y: 1.485
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2045의 노령연금액(annuity): 1237.3949367676057
2020년 가치로 환산한 수급시점 2045의 노령연금 월지급액(annuity): 102.17442296177768

          연금액     소득대체율    평균임금대비
0  102.174423  0.590659  0.321303

In [378]:
pension_1980_group_5.national_pension()

entitlement_year: 2045
A_base: 254.6629
A: 601.8308211038989
B_2020: 235.6516129032258
B: 386.61144873431454
Y: 1.8
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2045의 노령연금액(annuity): 1344.1146110668403
2020년 가치로 환산한 수급시점 2045의 노령연금 월지급액(annuity): 110.9865013178418

          연금액     소득대체율    평균임금대비
0  110.986501  0.470977  0.349014

In [379]:
pension_1980_group_6.national_pension()

entitlement_year: 2045
A_base: 254.6629
A: 601.8308211038989
B_2020: 164.74285714285716
B: 270.2781189738182
Y: 1.485
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2045의 노령연금액(annuity): 900.6417732808465
2020년 가치로 환산한 수급시점 2045의 노령연금 월지급액(annuity): 74.36797318779185

         연금액     소득대체율    평균임금대비
0  74.367973  0.451418  0.233862

In [404]:
df_1970 = pd.read_csv('../data/new/wage_history_1970.csv')
df_1970.head()

,Unnamed: 0,year,age,group_1,group_2,group_3,group_4,group_5,group_6
0,0,1989,19,NaN,NaN,NaN,128.784204,NaN,128.784204
1,1,1990,20,NaN,NaN,NaN,133.467266,NaN,133.467266
2,2,1991,21,NaN,NaN,NaN,138.043894,NaN,138.043894
3,3,1992,22,182.570443,NaN,NaN,142.726956,176.253422,142.726956
4,4,1993,23,184.200432,NaN,NaN,147.303585,182.639416,147.303585

In [416]:
df_1970_group_1 = df_1970[['year', 'group_1']]
df_1970_group_1.columns = ['year', 'wage']
df_1970_group_2 = df_1970[['year', 'group_2']]
df_1970_group_2.columns = ['year', 'wage']
df_1970_group_3 = df_1970[['year', 'group_3']]
df_1970_group_3.columns = ['year', 'wage']
df_1970_group_4 = df_1970[['year', 'group_4']]
df_1970_group_4.columns = ['year', 'wage']
df_1970_group_5 = df_1970[['year', 'group_5']]
df_1970_group_5.columns = ['year', 'wage']
df_1970_group_6 = df_1970[['year', 'group_6']]
df_1970_group_6.columns = ['year', 'wage']

In [417]:
df_1970_group_3.head()

   year  wage
0  1989   NaN
1  1990   NaN
2  1991   NaN
3  1992   NaN
4  1993   NaN

In [442]:
pension_1970_group_1 = Pension(df_1970_group_1, rp_entitlement_year=2025)
pension_1970_group_2 = Pension(df_1970_group_2, military_year=1991, rp_entitlement_year=2026)
pension_1970_group_3 = Pension(df_1970_group_3, rp_entitlement_year=2025)
pension_1970_group_4 = Pension(df_1970_group_4, delivery_year=1999, rp_entitlement_year=2035)
pension_1970_group_5 = Pension(df_1970_group_5, military_year=1990, rp_entitlement_year=2031)
pension_1970_group_6 = Pension(df_1970_group_6, delivery_year=1999, rp_entitlement_year=2031)

In [443]:
pension_1970_group_1.national_pension()[1]

entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 264.44848484848484
B: 355.9128428753641
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 1600.178917245913
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 132.13029457862544

          연금액     소득대체율    평균임금대비
0  132.130295  0.499645  0.415504

In [444]:
pension_1970_group_1.dc()

monthly retirement pension payment: 12.97840830914252
entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 264.44848484848484
B: 355.9128428753641
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 1600.178917245913
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 132.13029457862544

         연금액      합산 연금액  합산 소득대체율    평균임금대비
0  12.978408  145.108703  0.548722  0.456317

In [385]:
pension_1970_group_2.national_pension()

entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 410.8633333333334
B: 552.9679517116465
Y: 2.4
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 1766.0376335607457
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 145.82561377632467

          연금액     소득대체율    평균임금대비
0  145.825614  0.354925  0.458571

In [386]:
pension_1970_group_3.national_pension()

entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 226.05806451612904
B: 304.24439165509153
Y: 0
C: 0
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 1383.0927051424871
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 114.20500832154151

          연금액     소득대체율    평균임금대비
0  114.205008  0.505202  0.359135

In [387]:
pension_1970_group_4.national_pension()

entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 172.9838709677419
B: 232.81351497623046
Y: 1.8
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 1293.295496528109
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 106.79025519694908

          연금액     소득대체율    평균임금대비
0  106.790255  0.617342  0.335818

In [388]:
pension_1970_group_5.national_pension()

entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 235.6516129032258
B: 317.15604468146563
Y: 2.4
C: 0.5
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 1405.05139287892
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 116.01818549060994

          연금액     소득대체율    평균임금대비
0  116.018185  0.492329  0.364837

In [389]:
pension_1970_group_6.national_pension()

entitlement_year: 2035
A_base: 254.6629
A: 426.6491917509541
B_2020: 164.74285714285716
B: 221.7221953936267
Y: 1.8
C: 1
X: 1.2
P: 33
n: 13
2020년 가치로 환산한 수급시점 2035의 노령연금액(annuity): 970.3610065035779
2020년 가치로 환산한 수급시점 2035의 노령연금 월지급액(annuity): 80.12484370035322

         연금액     소득대체율    평균임금대비
0  80.124844  0.486363  0.251965

In [391]:
df_1970_group_1.head()

,year,wage,wage_with_upper_limit,standard_wage,P_n,A+B,(A+B)*P_n
0,1989,NaN,NaN,NaN,2.4,693.583824,NaN
1,1990,NaN,NaN,NaN,2.4,693.583824,NaN
2,1991,NaN,NaN,NaN,2.4,693.583824,NaN
3,1992,182.570443,182.570443,182.5,2.4,693.583824,1664.601177
4,1993,184.200432,184.200432,184.2,2.4,693.583824,1664.601177

In [392]:
1/(1-1/1.026)

39.461538461538375

In [394]:
1/0.95

1.0526315789473684